/**
 * Syntax highlighting styles
 */
.highlight {
    .kw { color: #8959A8; }
    .kw-2, .prelude-ty { color: #4271AE; }
    .self, .boolval, .prelude-val,
    .attribute, .attribute .ident { color: #C82829; }
    .doccomment { color: #4D4D4C; }
    .macro, .macro-nonterminal { color: #3E999F; }
    .lifetime { color: #B76514; }

    padding: 11px;
    overflow: auto;
    @extend %vertical-rhythm;

    .c     { color: #8E908C } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { color: #8959A8 } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #4271AE } // Keyword.Type
    .m     { color: #718C00 } // Literal.Number
    .s     { color: #718C00 } // Literal.String
    .na    { color: #C82829 } // Name.Attribute
    .nb    { color: #4271AE } // Name.Builtin
    .nc    {  } // Name.Class
    .nd    { color: #3E999F } // Name.Macro??
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    {  } // Name.Exception
    .nf    {  } // Name.Function
    .nn    {  } // Name.Namespace
    .nt    {  } // Name.Tag
    .nv    {  } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: #718C00 } // Literal.Number.Float
    .mh    { color: #718C00 } // Literal.Number.Hex
    .mi    { color: #718C00 } // Literal.Number.Integer
    .mo    { color: #718C00 } // Literal.Number.Oct
    .sb    { color: #718C00 } // Literal.String.Backtick
    .sc    { color: #718C00 } // Literal.String.Char
    .sd    { color: #4D4D4C } // Literal.String.Doc
    .s2    { color: #718C00 } // Literal.String.Double
    .se    { color: #718C00 } // Literal.String.Escape
    .sh    { color: #718C00 } // Literal.String.Heredoc
    .si    { color: #718C00 } // Literal.String.Interpol
    .sx    { color: #718C00 } // Literal.String.Other
    .sr    { color: #718C00 } // Literal.String.Regex
    .s1    { color: #718C00 } // Literal.String.Single
    .ss    { color: #718C00 } // Literal.String.Symbol
    .bp    { color: #4271AE } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #718C00 } // Literal.Number.Integer.Long
}
